.progress-stepper {
	top: 50%;
	right: 10px;
	display: flex;
	z-index: 1000;
	position: fixed;
	font-family: Serif;
	align-items: center;
	flex-direction: column;
	transform: translateY(-50%);
}

.step {
	width: 20px;
	height: 20px;
	display: flex;
	color: white;
	border-radius: 50%;
	margin-bottom: 20px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.step.active {
	width: 30px;
	height: 30px;
	color: white;
	font-weight: bold;
	background-color: #2c3333;
}
