* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #2c3333;
	cursor: crosshair;
}

:root {
	--white: #fff;
}

.animated-text {
	font-weight: 700;
	padding-top: 150px;
	color: var(--white);
}

.animated-text2 {
	color: #ff6347;
	font-weight: 700;
}

.animated-text span,
.animated-text2 span,
.about-animated-text span {
	display: inline-block;
	transition: transform 0.1s ease-in-out, color 0.15s ease-in-out;
}

.animated-text span:hover {
	color: #ff6347;
	transform: translateY(-5px);
}

.animated-text2 span:hover {
	color: var(--white);
	transform: translateY(-5px);
}
